* {
  margin: 0;
  border: 0;
}

body {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.container {
  background-color: white;
  display: flex;
  align-items: stretch;
  /* margin: auto; */
}

header {
  background: #ff5733;
  color: white;
  padding: 10px;
  width: 100%;
}

li {
  list-style: none;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.recipe img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.recipes {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.recipe {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background: #fff0e0;
}

.recipe img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.recipe-detail {
  padding-top: 20px;
}

.recipe-detail h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

.recipe-detail img {
  width: 350px;
  margin-bottom: 20px;
}

.recipe-detail h2 {
  margin: 20px;
}

.recipe-detail li {
  margin-bottom: 10px;
}
